* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --rows: 20;
  --col: 35;

  --outer-box-width: 70vw;
  --outer-box-height: 80vh;
}

.outer__box {
  width: var(--outer-box-width);
  height: var(--outer-box-height);
}

.box {
  width: calc(var(--outer-box-width) / var(--col));
  height: calc(var(--outer-box-height) / var(--rows));
}
