* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --outer-box-width: 70vw;
  --outer-box-height: 80vh;
}

h1 {
  font-size: 2.5rem;
  color: #fff;
  position: absolute;
  top: 0;
  left: 50%;
  font-weight: 900;
  letter-spacing: 0.1em;
  transform: translateX(-50%);
}

.outer__box {
  width: var(--outer-box-width);
  height: var(--outer-box-height);
}

.box {
  width: calc(var(--outer-box-width) / var(--cols));
  height: calc(var(--outer-box-height) / var(--rows));
}

.overlay {
  position: absolute;
}

.overlay::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}
